

@font-size-base: 14px;


@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;

@border-radius-base: 4px;


// Forms

@input-bg: #fff;
@input-border: #ccc;
@input-border-radius: @border-radius-base;






@btn-default-color:              #333;
@btn-light-color: #fff;



@border-base-color: #ddd;



// color
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
