doctype html
html
  head
    title= title
    meta(charset='utf-8')

  body
    #app
  script(src='/to-markdown.js')
  script(src='/markdown.js')
  //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  //- script(src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  //- script(src='/jquery.hotkeys/jquery.hotkeys.js')
  //- script(src='/bootstrap-wysiwyg/src/bootstrap-wysiwyg.js')

  // script(src='/simplemde.min.js')
  script(src='/assets/vendor.bundle.js')
  script(src='/assets/app.js')
  link(rel='stylesheet', href='/assets/style.css')
  link(rel='stylesheet', href='/bootstrap-wysiwyg/css/style.css')
  link(rel='stylesheet', href='/Draft.css')
  link(rel='stylesheet', href='/md.css')
  // link(rel='stylesheet', href='/reactTags.css')
  // link(rel="stylesheet" href="../../node_modules/quill/dist/quill.snow.css")
  link(rel="stylesheet" href="http://cdn.quilljs.com/latest/quill.snow.css")