
// ._rb-article-list-item {
//     border-bottom: 1px solid @border-base-color;
// }


._rb-article-item-title {
    a:hover&{
        color: #7b0f19;
        text-decoration: none;
    }
    a&{
        color:#333333
    }
}

._rb-article-item-meta {
    margin-top: 10px;

    span {
        border: 1px solid @border-base-color;
        margin-right: 5px;
        padding: 3px;
        border-radius: 4px;
    }

    ._rb-article-item-meta-link {
        color: @light-blue;
    }
}

._rb-article-meta {
    margin: 20px;
    span {
        margin-right: 10px;
        font-size: 12px;
        color: #999999
    }
}






//---------------- for articles page --------------------//
._rb-articles-main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
}

._rb-articles-main ._rb-articles-page-title {
    height: 100px;
}

._rb-article-divider {
    width: 80%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid #DDDDDD;
}



//---------------- for article page --------------------//
._rb-article-main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
}


// -- recent not used
.add-article-main .add-article-page-title{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 40px;
}

// add artile title input
._rb-article-title-input {
    position: fixed;
    width: 40%;
    top: 48px;
    font-size: @font-size-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
}

._rb-post-article{
    position: fixed;
    right: 33%;
    top: 52px;
}

._rb-add-article-tags{
    position: fixed;
    top: 48px;
    width: 22%;
    height: 100%;
    right: 0px;
    padding-top: 48px;
}