// 整个comment input跟上面的comments list要有一个线隔开
._rb-comment-input-entry,
._rb-comment-list{
    border-top: 2px solid rgba(128, 128, 128, 0.22);
    padding-top: 20px;
    margin-top: 20px;
}

._rb-comment-0 {
    border: 1px solid rgba(128, 128, 128, 0.22);
    margin-bottom: 10px;

    ._rb-comment-1 {
        padding-left: 20px;
    }

    ._rb-comment-2 {
        padding-left: 30px;
    }

    ._rb-comment-3 {
        padding-left: 40px;
    }
    ._rb-comment-4 {
        padding-left: 50px;
    }
}