// 整个comment input跟上面的comments list要有一个线隔开
.rb-comment-input-entry,
.rb-comment-list{
    border: none;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 0px;
}

.rb-comment-item {
    border-left: 1px dashed @lighter-grey;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 5px;
}

.rb-comment-body{
    margin-left: 20px;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 5px;
}

.rb-comment-content {
    font-size: 12px;
    font-family: @font-family;
}

.rb-comment-0 {
    margin-bottom: 20px;

    .rb-comment-1 {
        margin-left: 20px;
    }

    .rb-comment-2 {
        margin-left: 30px;
        margin-top: 5px;
    }

    .rb-comment-3 {
        margin-left: 40px;
        margin-top: 5px;
    }
    .rb-comment-4 {
        margin-left: 50px;
        margin-top: 5px;
    }
}

.rb-comment-list-item-top {
    font-size: 10px;
    height: 20px;
    span {
        margin-left: 10px;
        color: @lighter-grey;
    }

    a {
        text-decoration: none;
        color: @nice-yellow;
    }
}

.rb-comment-reply {
    textarea:focus,
    input:focus{
        outline: none;
    }

    textarea{
        width: 100%;
        height: 100px;
        margin: 3px;
        border-radius: 4px;
        border: 1px solid #B9B4B4
    }

    div {
        height: 32px;
        input {
            width: 40%;
            height: 25px;
            font-size: 10px;
            line-height: 17px;
            padding: 4px 6px;
            border-radius: 4px;
            float: right;
            border: 1px solid #eee;
            box-sizing: border-box;
            color: #797474;
            font-family: @font-family;
        }

        button {
            float: right;
        }
    }
}